#!/usr/bin/env xdg-open

[Desktop Entry]
Name=pirum-shell3
Comment=gnome-shell style, desktop overlay
Exec=/usr/bin/pirum-shell3
Icon=/usr/share/pixmaps/pirum-shell.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=System;Applications;
StartupNotify=true
GenericName=
Name[en_US]=pirum-shell3
